    @font-face {
    font-family: "sf pro text";
    src: url("../fonts/SF-Pro-Text-Regular.otf") format('opentype');
    }
    
    body {
    margin: 0;
    padding: 0;
    font-family:"sf pro text";
    background: #eceaea;
    font-size: 12px;
    word-spacing: 1.5px;
    line-height: 1.8;
    }
    .wrapper {
    text-align: center;
    padding: 20px;
    }
    .wrapper img {
    width: 140px;
    height:40px;
    }
    .container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    background-image: url("../icons/kegow-watermark.png");
    background-position: 30% 30%; 
    background-size: 400px;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    
    }
    .content {
    padding: 30px;
    color: #1A1A1A;
    text-align: left;
    }
    .content a{
    text-decoration: none;
    color: #333333
    }

    .footer {
    padding: 20px;
    font-size: 12px;
    }
    .image-icon{
    text-align: left;
    }
    .image-icon a{
    text-decoration: none;

    }
    .image-icon img{
        width: 45px;
        height: 45px; 
        margin-left: 6px;
    }

    @media only screen and (max-width: 600px) {
        .content {
            padding: 15px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
        .image-icon{
            text-align: center;
        }
    }
